body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  margin: 0;
}
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: row;
}
.header-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.header-logo .logo-part {
  color: #2e2f42;
}
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}
.header-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.current {
  position: relative;
}
.nav-link.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
  color: #404bbf;
}
.sec_one {
  background-color: #2e2f42;
  padding: 188px 0;
  min-width: 1440px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office1.jpg);
}

.heroimage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  margin: 0 auto;
}

.hero-image {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  display: block;
  max-width: 496px;
}
.button {
  min-width: 169px;
  height: 56px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  padding-block: 16px;
  padding-inline: 32px;
  display: block;
}
.button:hover,
.button:focus {
  background: #404bbf;
}
.sec_two {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages {
  display: flex;
  justify-content: center;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  gap: 8px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}
.advantages-list {
  max-width: 1128px;
  display: flex;
  gap: 24px;
}
.advantages-item {
  width: calc((100% - 72px) / 4);
}
.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.advantages-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.team {
  display: flex;
  padding-top: 120px;
  justify-content: center;
  margin-bottom: 72px;
}
.team-title,
.team-text {
  text-align: center;
}
.team-list {
  display: flex;
  max-width: 1128px;
  gap: 24px;
  padding-bottom: 120px;
  margin: 0 auto;
}
.team-items {
  justify-content: space-between;
  width: calc((100% - 72px) / 4);
}
.team-title {
  margin-bottom: 8px;
}
.social-item {
  display: inline-block;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border: 1px solid #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.social-link {
  color: #fff;
}
.name {
  display: flex;
  padding: 32px 0;
  flex-direction: column;
}
.team,
.portfolio {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.advantages-title,
.team-title,
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.advantages-text,
.team-text,
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
}
.sec_three {
  background: #f4f4fd;
  padding: 120px 0;
}
.sec_four {
  padding: 120px 0;
}
.work {
  padding: 32px 16px;
  flex-direction: column;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio {
  display: flex;
  padding-top: 120px;
  justify-content: center;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  max-width: 1128px;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  gap: 48px 24px;
  padding-bottom: 120px;
  margin: 0 auto;
}
.portfolio-title {
  margin-bottom: 8px;
}
.portfolio-item {
  flex-direction: column;
}
.page-footer {
  background: #2e2f42;
  padding: 100px 0;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo .logo-part {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
