body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  margin: 0;
}
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
  display: none;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: row;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link.current {
    position: relative;
  }
  .nav-link.current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .contacts {
    font-style: normal;
    display: block;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    font-size: 12px;
  }

  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
}
@media screen and (min-width: 1024px) {
  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }

  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* mobail menu */

.mobail-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobail-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobail-menu-conteiner {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobail-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  fill: #2e2f42;
  stroke-width: 1px;
  stroke: #2e2f42;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-mm {
  margin-bottom: auto;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.mm-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 168px;
}

.mm-nav-link {
  color: #2e2f42;
}

.mm-nav-link.current {
  color: #404bbf;
}

.mm-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

.mm-contacts-link {
  color: #434455;
}

.contacts-link-tel {
  color: #4d5ae5;
}

.social-list-mm {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}

.social-link-mm {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 40px;
  height: 40px;
  gap: 40px;
  fill: #f4f4fd;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .mobail-menu {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .mobail-menu {
    display: none;
  }
}

/* sec_one */

.sec_one {
  /* display: block; */
  background-color: #2e2f42;
  padding: 72px 0;
  min-width: 320px;
  max-width: 320px;
  height: 432px;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-m.jpg);
}

@media screen and (min-resolution: 192dpi) {
  .sec_one {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/Dark-bg-m@2x.jpg");
  }
}

.heroimage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px;
  margin: 0 auto;
  max-width: 320px;
}

.hero-image {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  display: block;
  max-width: 216px;
}

.button {
  min-width: 169px;
  height: 56px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-block: 16px;
  padding-inline: 32px;
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .sec_one {
    padding: 112px 0;
    min-width: 768px;
    max-width: 768px;
    height: 436px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-tab.jpg);
  }

  @media screen and (min-resolution: 192dpi) {
    .sec_one {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/Dark-bg-tab@2x.jpg");
    }
  }
  .heroimage {
    gap: 36px;
    margin: 0 auto;
    max-width: 768px;
  }
  .hero-image {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
}

@media screen and (min-width: 1024px) {
  .sec_one {
    padding: 188px 0;
    min-width: 1440px;
    max-width: 1440px;
    height: 600px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office1.jpg);
  }

  @media screen and (min-resolution: 192dpi) {
    .sec_one {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/people-office1@2x.jpg");
    }
  }
  .heroimage {
    gap: 48px;
    max-width: 1440px;
  }

  .button:hover,
  .button:focus {
    background: #404bbf;
  }
}

/* sec_two */

.sec_two {
  margin: 96px 0;
  min-width: 320px;
  justify-content: center;
}

.advantages {
  display: flex;
  justify-content: center;
}
.icon {
  display: none;
}
.advantages-list {
  min-width: 288px;
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}
.advantages-item {
  flex-wrap: wrap;
}
.advantages-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.advantages-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  min-width: 288px;
  max-width: 288px;
  align-content: space-between;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    flex-direction: row;
    gap: 72px 24px;
    flex-wrap: wrap;
  }

  .advantages-item {
    width: calc((100% - 24px) / 2);
  }
  .advantages-title {
    text-align: start;
  }
  .advantages-text {
    max-width: 356px;
  }
}

@media screen and (min-width: 1024px) {
  .sec_two {
    min-width: 1128px;
  }
  .advantages {
    display: flex;
    justify-content: center;
  }
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    gap: 8px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .advantages-list {
    max-width: 1128px;
    display: flex;
    gap: 24px;
  }
  .advantages-item {
    width: calc((100% - 72px) / 4);
  }
  .advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .advantages-text {
    font-weight: 400;
    max-width: 264px;
    min-width: 264px;
  }
}

/* sec_three */

.sec_three {
  background: #f4f4fd;
  padding: 96px 0;
}

.team {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 72px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-item {
  justify-content: space-between;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
}

.team-title {
  text-align: center;
  margin-bottom: 8px;
  margin-top: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-text {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-list {
  display: flex;
  flex-direction: column;
  max-width: 264px;
  gap: 72px;
  margin: 0 auto;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  margin-bottom: 32px;
}
.icons {
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border: 0px solid #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #f4f4fd;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image {
  position: relative;
  overflow: hidden;
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  cursor: pointer;
  transform: translateY(0%);
}
.overlay {
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay {
  transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 768px;
    gap: 72px 24px;
    justify-content: center;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
    max-width: 264px;
  }
}

@media screen and (min-width: 1024px) {
  .team {
    display: flex;
    padding-top: 120px;
    justify-content: center;
  }

  .team-list {
    display: flex;
    max-width: 1128px;
    gap: 24px;
    padding-bottom: 120px;
  }

  .team-item {
    justify-content: space-between;
    width: calc((100% - 72px) / 4);
  }
}

/* sec_four */

.sec_four {
  padding: 96px 0;
}

.portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.portfolio-list {
  display: flex;
  max-width: 288px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 48px;
  margin: 0 auto;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-direction: column;
  position: relative;
  cursor: pointer;
  justify-content: space-between;
  overflow: hidden;
}
.work {
  padding-block: 32px;
  padding-inline: 16px;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid #e7e9fc;
  border-top: none;
  position: relative;
  overflow: hidden;
}

.portfolio-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.image {
  position: relative;
  overflow: hidden;
}
.overlay {
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .portfolio {
    margin-bottom: 72px;
  }

  .portfolio-list {
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 736px;
    gap: 72px 24px;
    justify-content: center;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
    max-width: 356px;
  }

  .portfolio-image {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  .sec_four {
    padding: 120px 0;
  }

  .portfolio-list {
    /* flex-wrap: wrap;
    flex-direction: row; */
    max-width: 1128px;
    gap: 48px 24px;
    /* justify-content: center; */
  }

  .portfolio-item {
    width: calc((100% - 72px) / 3);
    max-width: 360px;
  }
}

/* footer */

.page-footer {
  background-color: #2e2f42;
}

/* .container-footer {
  display: flex; 
  align-items: baseline; 
}*/

.footer-one {
  display: flex;
  flex-direction: column;
  /* margin-right: 102px; */
  padding: 96px 0 72px 0;
  align-items: center;
}

.footer-logo {
  margin-bottom: 16px;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 288px;
  justify-content: flex-start;
}
.social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-two {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  align-items: center;
}

.social-list.foot {
  gap: 16px;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  align-items: center;
  /* width: 453px;
  height: 80px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em; */
  color: #fff;
}

.subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.subscribe-field {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  background-color: transparent;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

.subscribe-button {
  display: flex;
  border-radius: 4px;
  padding-block: 8px;
  width: 165px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border: none;
  margin-bottom: 96px;
}
