body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  margin: 0;
}
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: row;
}
.header-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: center;
  margin-left: 156px;
}

.header-logo .logo-part {
  color: #2e2f42;
}
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}
.header-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
}
.contacts {
  font-style: normal;
  margin-left: auto;
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
.sec_one {
  background: #2e2f42;
}
.hero-image__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  width: 1440px;
  height: 600px;
  margin: 0 auto;
}
.hero-image {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  display: block;
  max-width: 496px;
}
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  padding-block: 16px;
  padding-inline: 32px;
  display: block;
}
.button:hover,
.button:focus {
  background: #404bbf;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container-advantages {
  display: flex;
  margin: 120px 156px;
  justify-content: center;
}
.advantages-list {
  max-width: 1128px;
  display: flex;
  gap: 24px;
}
.advantages-item {
  width: calc((100% - 72px) / 4);
}
.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-bottom: 8px;
}
.advantages-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  display: flex;
  padding-top: 120px;
  justify-content: center;
}

.team-title,
.team-text {
  text-align: center;
}
.team-list {
  display: flex;
  max-width: 1128px;
  gap: 24px;
  padding-top: 72px;
  padding-bottom: 120px;
  margin: 0 auto;
}
.team-items {
  display: flex;
  justify-content: space-between;
  width: calc((100% - 72px) / 4);
}
.name {
  display: flex;
  padding: 32px 16px;
  gap: 8px;
  flex-direction: column;
}
.team,
.portfolio,
.advantages {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.advantages-title,
.team-title,
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.advantages-text,
.team-text,
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
}
.sec_three {
  background: #f4f4fd;
}
.work {
  display: flex;
  padding: 32px 0 32px 16px;
  gap: 8px;
  flex-direction: column;
  border: 1px solid #e7e9fc;
}
.portfolio {
  display: flex;
  padding-top: 120px;
  justify-content: center;
}
.portfolio-list {
  display: flex;
  max-width: 1128px;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  gap: 48px 24px;
  padding-top: 72px;
  padding-bottom: 120px;
  margin: 0 auto;
}
.portfolio-item {
  display: flex;
  flex-direction: column;
}

.page-footer {
  background: #2e2f42;
}
.footer-logo .logo-part {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.container-footer {
  display: flex;
  padding: 100px 0 100px 156px;
  flex-direction: column;
  gap: 16px;
}
